/*  Reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Reset end */

/* Default classes start */
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.padding-top {
  padding-top: 15px;
}

/* Default classes end */

#max-content {
  width: 1280px;
  margin: auto;
}

/* header */
.title-img {
  background-color: rgb(10, 14, 23);
}

.header {
  margin-left: 1%;
  max-width: 200px;
  padding: 5px;
}

/* text-title-block */

#text-title-block,
.text-title-one-two {
  justify-content: space-around;
}

#text-title-block {
  background: rgba(51, 58, 66);
}

.text-title-one-two {
  width: 960px;
  margin: 20px 0;
}

.text-title-one,
.uppercase-title-word,
.title-user-block,
.uppercase-word {
  font-family: "Candal", sans-serif;
  letter-spacing: 1px;
  color: rgb(251, 251, 251);
}

.text-title-one,
.span-word {
  text-transform: capitalize;
}

.text-title-one {
  font-size: 25px;
  margin-right: 5px;
  margin-bottom: 55px;
}

.text-title-two {
  margin-left: 10px;
}

.uppercase-title-word,
.uppercase-word,
.title-user,
.custom-paragraph,
.button {
  text-transform: uppercase;
}

.uppercase-word,
.uppercase-title-word {
  font-size: 16px;
}

.uppercase-title-word {
  text-align: center;
  margin: 15px 0 2px 0;
  width: 891px;
}

.uppercase-word {
  margin: 15px 0 25px 10px;
}

.span-word {
  display: block;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-top: 3px;
}

.list-word-one {
  width: 200px;
}

.span-word,
.list-word {
  font-family: "Playfair Display", serif;
  color: rgba(255, 255, 255, 0.644);
}

.list-word {
  padding-bottom: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.word {
  color: rgb(193, 60, 46);
}

.style-ul {
  display: block;
  font-size: 10px;
  padding-left: 10px;
}

.style-li {
  background-image: url(img/check-copy.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  list-style-type: none;
}

/* title-forms  */

#title-forms {
  background-color: rgb(255, 162, 7);
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 20px;
}

.forms-frst-block,
.forms-scnd-block,
.forms-third-block {
  flex-direction: column;
  height: 230px;
  padding: 15px;
  font-weight: 600;
  font-size: 12px;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
  justify-content: space-between;
}

.forms-scnd-block {
  margin: 0;
}

#numb-of-employees {
  padding-right: 165px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 4px;
}

#job-level {
  padding-right: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 4px;
}

#company-email,
#phone-numb,
#frst-name,
#last-name,
#comp-name,
#department,
#country,
#department {
  border: none;
  padding: 10px;
  border-radius: 4px;
}

.forms-lst-name,
.forms-department,
.forms-job-level,
.forms-country {
  padding-top: 15px;
}

#department {
  padding-right: 120px;
}

#country {
  padding-right: 110px;
}

.forms-button-block {
  text-align: center;
  width: 941px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.button {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 14, 23);
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  letter-spacing: 2px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(182, 3, 3);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}

/* #customers-applouse-block */

#customers-applouse-block {
  background-color: white;
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
}

.custom-paragraph {
  width: 1510px;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
}

.custom-link {
  height: 100px;
  width: 150px;
  align-items: center;
  margin-right: 70px;
}

img {
  max-width: 100%;
}

.customers-block-billguard {
  width: 85px;
}

.customers-block-usa-today {
  height: 100px;
  width: 150px;
}

.customers-block-google {
  margin: 0;
}

/* #user-applouse-tweet */

#user-applouse-tweet {
  background: rgba(51, 58, 66);
  justify-content: center;
}

/* title */
.title-user {
  width: 1280px;
  text-align: center;
  color: white;
  font-size: 16px;
  margin: 40px 0;
  letter-spacing: 2px;
}

/* Tweets */
.user-data-block {
  width: 150px;
}

.user-block-one {
  height: 300px;
}

.user-block-two {
  height: 330px;
}

.user-block-three {
  height: 350px;
}

.user-block-one,
.user-block-two,
.user-block-three {
  width: 250px;
  background-color: white;
}

.user-block-one,
.user-block-two {
  margin-right: 30px;
}

.user-block-three {
  margin-bottom: 30px;
}

.user-tweet-first,
.user-tweet-thrd {
  justify-content: space-around;
  padding: 5px;
}

.user-tweet-scnd {
  justify-content: center;
  padding: 5px;
}

.user-nickname,
.user-nickname-two,
.user-nickname-three {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(55, 110, 164);
}

.img-tweet,
.img-tweet-batman,
.img-tweet-kitten {
  border-radius: 50%;
  height: 100px;
  width: 110px;
  padding: 10px;
}

.img-tweet-batman,
.img-tweet-kitten {
  margin-left: 10px;
}

.paragraph-tweet {
  width: 250px;
  line-height: 150%;
  margin-top: 20px;
}

.user-data {
  font-size: 12px;
}

.tweet-span-word {
  color: black;
}

.tweet-link {
  color: rgb(137, 33, 45);
}

.tweets {
  margin: 0 10px;
}

/* ./header */
.header-container {
  margin: auto;
  padding: 10 15px;
}

#header-contacts {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(10, 14, 23);
  color: white;
}

.header-nav {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
}

.header-nav a + a {
  margin-left: 30px;
  padding: 10px 10px;
}

.header-nav a:hover {
  color: red;
}

.header-paragrapgh {
  width: 1170px;
  padding-top: 10px;
}
